{
  "keys": {
    "public": "/keys/multi-cloud-workshop.pub",
    "private": "/keys/multi-cloud-workshop.key"
  },
  "logLevel": "verbose",
  "securityGroupName": "multi-cloud-workshop",
  "templates": {
    "loadBalancer": {
      "body": "/templates/haproxy.conf.ejs",
      "temporaryPath": "/tmp/haproxy.cfg",
      "path": "/etc/haproxy/haproxy.cfg"
    },
    "haproxyInitDefault": {
      "body": "/templates/haproxy.ejs",
      "temporaryPath": "/tmp/haproxy.default",
      "path": "/etc/default/haproxy"
    },
    "mysqlConfig": {
      "body": "/templates/my.cnf.ejs",
      "temporaryPath": "/tmp/my.cnf",
      "path": "/etc/mysql/my.cnf"
    },
    "blogApp": {
      "body": "/templates/app.js.ejs",
      "temporaryPath": "/tmp/app.js",
      "path": "/usr/local/src/app.js"
    }
  },
  "settings": {
    "rackspace" : {
      "client": {
        "username": "<your-user-name>",
        "apiKey": "<your-api-key>",
        "provider": "rackspace",
        "region": "IAD"
      },
      "imageId": "28b21a55-b686-4e8e-be9b-b6df2aaf60b8",
      "flavorId": "performance1-1"
    },
    "aws": {
      "client": {
        "provider": "amazon",
        "service": "compute",
        "keyId": "<your-access-key-id>",
        "key": "<your-access-key>"
      },
      "imageId": "ami-83e2dcea",
      "flavorId": "m1.small"
    },
    "hpcloud": {
      "client": {
        "provider": "openstack",
        "service": "compute",
        "username": "<your-user-name>",
        "password": "<your-password>",
        "authUrl": "https://region-a.geo-1.identity.hpcloudsvc.com:35357",
        "region": "region-a.geo-1"
      },
      "imageId": "8c096c29-a666-4b82-99c4-c77dc70cfb40",
      "flavorId": "100"
    }
  }
}